*/__pycache__
*/temp
*/*/temp
temp
__pycache__
traces

.DS_Store
.idea/
templates/.DS_Store

temp
traces
logs
logs/*
**/__pycache__
test
.env
evaluation_logs

# webarena
.auth/

Screen_shot
traces

config_files*/*0.json
config_files*/*1.json
config_files*/*2.json
config_files*/*3.json
config_files*/*4.json
config_files*/*5.json
config_files*/*6.json
config_files*/*7.json
config_files*/*8.json
config_files*/*9.json

config_files/evaluation.yaml
config_files/test.yaml